<section id="header">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="container-fluid">
                      <a class="navbar-brand text-light" routerLink="/">Let's Make Notes</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                          <i class="bi bi-list text-light"></i>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ms-auto">
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#profile">About</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#notes">Notes</a>
                              </li>
                            
                          </ul>
                          
                      </div>
                  </div>
              </nav>
          </div>
      </div>
  </div>
</section>

<section id="top">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-12">
              Welcome to 
              <h1>Let's Make Notes</h1>
          </div>
      </div>
  </div>
</section>

<section id="notes">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h2>Make a Note </h2>
        <input type="text" #addNote class="form-control">
        <button (click)="onClick(addNote)" class="btn btn-success ms-2 mt-2">Add</button>
      </div>
      <div class="col-md-12"></div>
    </div>
  </div>
</section>
<section id="listDisplay">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div *ngIf="!listItem?.length" class="check">

          <p class="text-center fs-3">Nothing to display.</p>
        
        </div>
        <ul class="list-group">
          <li *ngFor="let i of listItem; index as id" class="list-group-item mb-2 mt-1">{{i}} <button class="btn btn-danger ms-2" (click)="onDelete(id)">Delete</button></li>
        </ul>
      </div>
      <div class="col-md-4"></div>
    </div>

  </div>
</section>
<section id="footer">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>All right reserved@Shashank Varshney</h2>
      </div>
    </div>
  </div>
</section>
<!-- <ul>
  <li *ngFor="let i of listItem">{{i}}</li>
</ul> -->